#banner{
    margin-bottom: 100px;
}
#smart-phone{
    margin-bottom: 100px;
}
#laptop{
    margin-bottom: 200px;
}
#bottom-section{
    margin-bottom: 100px;
}
.buy-now{
    background-color:  #000000;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
}
.carousel-item{
    padding: 20px 40px;
}
.top-banner{
    background-image: url(img/bg-1.png);
    background-repeat: no-repeat;
}

.top-banner1{
    background-image: url(img/bg-2.png);
    background-repeat: no-repeat;
}
.top-banner img{
    height: auto;
}
.b1{
    background-image: url(img/bg-1.png);
    background-repeat: no-repeat;
}
.carousel-indicators{
    background-color:yellow;
    
}
.card{
    height: 210px;
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    size: 100px;
    text-align: center;
    padding-bottom: 40px;
}
.card img{
    margin-top: 50px;
    
    padding-left: 50px;
    padding-right: 50px;
}
.card-footer{
    background-color: white;
    border-top: none;
}


.alignright {
	float: right;
    text-decoration: none;
    color: #ffbf00;
}
.card-text{
    color:#707070;
}
h4{
    color: #1F1F1F;
}
.bottom-img img{
    border: none;
    box-shadow: 10px 10px 20px lightgray;
    border-radius:  3% 10% 3% 10%;
    padding: 80px 80px; 
    
}
.bag-text{
   position: absolute;
   
}
.bottom-img-2nd img{
    border: none;
    box-shadow: 15px 15px 20px lightgray;
    border-radius:  3% 3% 10% 3%;
    padding: 80px 80px; 
    margin-bottom: 40px;
}
.divider{
    position: absolute;
    margin-left: 580px;
    margin-top: 10px;
    width: 90px;
    height: 5px;
    background-color: #ffbf00;
    border-radius: 10px;
    display: inline-block;
    
}
.categories-section{
    margin-bottom: 50px;
}
.bag-footer{
    position: absolute;
    margin-top: 220px;
    margin-left: 120px;
    z-index: 1;
}
.beauty-footer{
    position: absolute;
    z-index: 1;
    margin-top: 220px;
    margin-left: 120px;
}
.shoe-footer{
    position: absolute;
    z-index: 1;
    margin-top: 515px;
    margin-left: 120px;
}
.categories-heading{
    position: absolute;
   
    margin-left: 560px;
}